# file-exclusions
*.a
*.o
*.so
*.lib
*.dll
*.out
*.exe
*.s
*.ini

# folder-exclusions
build/
dist/
__pycache__/
.vscode/
*.egg-info/
_build/
_static/
_templates/

# @todo: delete once porting+refactoring has been completed
## _legacy/