# file-exclusions
*.a
*.o
*.so
*.lib
*.dll
*.out
*.exe
*.s
*.ini

# folder-exclusions
build/
dist/
tmp/
__pycache__/
.vscode/
*.egg-info/
_build/
_static/
_templates/

# file-specific exclusions
simulation.xml

# logging .json files
sess_*.json
session_*.json

# @todo: delete once porting+refactoring has been completed
## _legacy/
