# file-exclusions
*.a
*.o
*.so
*.lib
*.dll
*.out
*.exe
*.s
*.ini

# folder-exclusions
build/
dist/
__pycache__/
.vscode/
*.egg-info/
_build/
_static/
_templates/

# dependencies exclusions
ext/cat1
ext/imgui
ext/pybind11