include *.txt
include LICENSE
recursive-include python/loco *.cpp
recursive-include python/loco *.h
recursive-include python/loco *.txt
recursive-include python/loco *.py
recursive-include examples *.cpp
recursive-include examples *.py
recursive-include examples *.txt
recursive-include ext *.cpp
recursive-include ext *.h
recursive-include ext *.hpp
recursive-include ext *.txt
recursive-include glviz *.cpp
recursive-include glviz *.h
recursive-include glviz *.txt
recursive-include include *.h
recursive-include res *.dae
recursive-include res *.json
recursive-include res *.mtl
recursive-include res *.obj
recursive-include res *.png
recursive-include res *.stl
recursive-include res *.txt
recursive-include res *.urdf
recursive-include res *.world
recursive-include res *.xml
recursive-include src *.cpp
recursive-include tests *.cpp
recursive-include tests *.py
recursive-include tests *.txt
